# Packer
*.pkr.hcl.backup
*.pkr.hcl.lock.hcl
packer_cache/
*.log

# Variables and secrets
*.auto.pkrvars.hcl
*.auto.tfvars
variables.auto.pkrvars.hcl
variables.pkrvars.hcl
secrets.pkrvars.hcl

# AWS
.aws/

# HCP
.hcp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp

