---
# CIS 1.1 - Filesystem Configuration
# Disables unnecessary filesystem modules

- name: Disable cramfs filesystem
  modprobe:
    name: cramfs
    state: absent
    params: install /bin/true
  ignore_errors: yes
  register: cramfs_result

- name: Blacklist cramfs
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install cramfs /bin/true"
    create: yes
    state: present

- name: Note if cramfs is builtin
  debug:
    msg: "cramfs is built into kernel (cannot be disabled via modprobe)"
  when: cramfs_result.failed and "'builtin' in cramfs_result.msg | default('')"

- name: Disable squashfs filesystem
  modprobe:
    name: squashfs
    state: absent
    params: install /bin/true
  ignore_errors: yes
  register: squashfs_result

- name: Blacklist squashfs
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install squashfs /bin/true"
    create: yes
    state: present

- name: Note if squashfs is builtin
  debug:
    msg: "squashfs is built into kernel (cannot be disabled via modprobe, blacklisted in modprobe.d)"
  when: squashfs_result.failed and "'builtin' in squashfs_result.msg | default('')"

- name: Disable udf filesystem
  modprobe:
    name: udf
    state: absent
    params: install /bin/true
  ignore_errors: yes
  register: udf_result

- name: Blacklist udf
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install udf /bin/true"
    create: yes
    state: present

- name: Note if udf is builtin
  debug:
    msg: "udf is built into kernel (cannot be disabled via modprobe, blacklisted in modprobe.d)"
  when: udf_result.failed and "'builtin' in udf_result.msg | default('')"

# Level 2: Additional filesystem restrictions
- name: Disable freevxfs filesystem (Level 2)
  modprobe:
    name: freevxfs
    state: absent
    params: install /bin/true
  ignore_errors: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Blacklist freevxfs (Level 2)
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install freevxfs /bin/true"
    create: yes
    state: present
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Disable jffs2 filesystem (Level 2)
  modprobe:
    name: jffs2
    state: absent
    params: install /bin/true
  ignore_errors: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Blacklist jffs2 (Level 2)
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install jffs2 /bin/true"
    create: yes
    state: present
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Disable hfs filesystem (Level 2)
  modprobe:
    name: hfs
    state: absent
    params: install /bin/true
  ignore_errors: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Blacklist hfs (Level 2)
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install hfs /bin/true"
    create: yes
    state: present
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Disable hfsplus filesystem (Level 2)
  modprobe:
    name: hfsplus
    state: absent
    params: install /bin/true
  ignore_errors: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Blacklist hfsplus (Level 2)
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install hfsplus /bin/true"
    create: yes
    state: present
  when: (cis_level | default(cis_level_default) | int) >= 2

