---
# CIS 1.5 - Additional Process Hardening
# Configures process hardening settings

- name: Restrict core dumps
  lineinfile:
    path: /etc/security/limits.conf
    line: '* hard core 0'
    regexp: '^\* hard core'
    state: present

- name: Disable suid_dumpable
  sysctl:
    name: fs.suid_dumpable
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes

- name: Enable ASLR
  sysctl:
    name: kernel.randomize_va_space
    value: '2'
    state: present
    sysctl_set: yes
    reload: yes

# Level 2: Additional process hardening
- name: Restrict access to kernel dmesg (Level 2)
  sysctl:
    name: kernel.dmesg_restrict
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Enable kernel unprivileged bpf disabled (Level 2)
  sysctl:
    name: kernel.unprivileged_bpf_disabled
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

