---
# CIS 1.6 - Mandatory Access Control
# Configures AppArmor for MAC

- name: Install AppArmor
  apt:
    name:
      - apparmor
      - apparmor-utils
    state: present

- name: Enable AppArmor in bootloader
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX='
    line: 'GRUB_CMDLINE_LINUX="apparmor=1 security=apparmor"'
    backup: yes

- name: Update grub configuration
  command: update-grub
  when: ansible_facts['os_family'] == "Debian"

