---
# CIS 2.1 - Services
# Removes unnecessary services

- name: Remove xinetd
  apt:
    name: xinetd
    state: absent

- name: Remove xorg-x11-server-common
  apt:
    name: xorg-x11-server-common
    state: absent

