---
# CIS 3.1 - Network Parameters
# Configures network security parameters

- name: Disable IP forwarding (IPv4)
  sysctl:
    name: net.ipv4.ip_forward
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes

- name: Disable IP forwarding (IPv6)
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes

- name: Disable packet redirect sending
  sysctl:
    name: "{{ item }}"
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes
  loop:
    - net.ipv4.conf.all.send_redirects
    - net.ipv4.conf.default.send_redirects

- name: Disable source routed packets
  sysctl:
    name: "{{ item }}"
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes
  loop:
    - net.ipv4.conf.all.accept_source_route
    - net.ipv4.conf.default.accept_source_route

- name: Disable ICMP redirects
  sysctl:
    name: "{{ item }}"
    value: '0'
    state: present
    sysctl_set: yes
    reload: yes
  loop:
    - net.ipv4.conf.all.accept_redirects
    - net.ipv4.conf.default.accept_redirects

- name: Enable TCP SYN Cookies
  sysctl:
    name: net.ipv4.tcp_syncookies
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes

# Level 2: Additional network hardening
- name: Enable IP spoofing protection (Level 2)
  sysctl:
    name: "{{ item }}"
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  loop:
    - net.ipv4.conf.all.rp_filter
    - net.ipv4.conf.default.rp_filter
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Disable IPv6 if not needed (Level 2)
  sysctl:
    name: net.ipv6.conf.all.disable_ipv6
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2
  # Note: Comment out if IPv6 is required

- name: Enable TCP timestamps (Level 2)
  sysctl:
    name: net.ipv4.tcp_timestamps
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Enable ICMP echo ignore broadcasts (Level 2)
  sysctl:
    name: net.ipv4.icmp_echo_ignore_broadcasts
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Enable ICMP ignore bogus error responses (Level 2)
  sysctl:
    name: net.ipv4.icmp_ignore_bogus_error_responses
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Enable log martians (Level 2)
  sysctl:
    name: "{{ item }}"
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  loop:
    - net.ipv4.conf.all.log_martians
    - net.ipv4.conf.default.log_martians
  when: (cis_level | default(cis_level_default) | int) >= 2

