---
# CIS 5.2 - SSH Server Configuration (Level 2)
# Configures SSH server security settings

- name: Ensure SSH Protocol is set to 2 (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Protocol'
    line: 'Protocol 2'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH LogLevel is set to INFO (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?LogLevel'
    line: 'LogLevel INFO'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH X11 forwarding is disabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?X11Forwarding'
    line: 'X11Forwarding no'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH MaxAuthTries is set to 4 or less (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?MaxAuthTries'
    line: 'MaxAuthTries 4'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH IgnoreRhosts is enabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?IgnoreRhosts'
    line: 'IgnoreRhosts yes'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH HostbasedAuthentication is disabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?HostbasedAuthentication'
    line: 'HostbasedAuthentication no'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH root login is disabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH PermitEmptyPasswords is disabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitEmptyPasswords'
    line: 'PermitEmptyPasswords no'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH PermitUserEnvironment is disabled (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitUserEnvironment'
    line: 'PermitUserEnvironment no'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure only approved MAC algorithms are used (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?MACs'
    line: 'MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure only approved ciphers are used (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Ciphers'
    line: 'Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure only approved key exchange algorithms are used (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?KexAlgorithms'
    line: 'KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH Idle Timeout Interval is configured (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?ClientAliveInterval'
    line: 'ClientAliveInterval 300'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH ClientAliveCountMax is set (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?ClientAliveCountMax'
    line: 'ClientAliveCountMax 0'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH LoginGraceTime is set to one minute or less (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?LoginGraceTime'
    line: 'LoginGraceTime 60'
  when: (cis_level | default(cis_level_default) | int) >= 2

- name: Ensure SSH access is limited (Level 2)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?AllowUsers'
    line: '# AllowUsers user1 user2'
    insertafter: '^# Example of overriding settings'
  when: (cis_level | default(cis_level_default) | int) >= 2
  # Note: Configure actual allowed users as needed

- name: Restart SSH service after configuration changes
  systemd:
    name: sshd
    state: restarted
  when: (cis_level | default(cis_level_default) | int) >= 2

