---
# CIS 6.1 - System File Permissions
# Configures critical system file permissions

- name: Set /etc/passwd permissions
  file:
    path: /etc/passwd
    owner: root
    group: root
    mode: '0644'

- name: Set /etc/passwd- permissions
  file:
    path: /etc/passwd-
    owner: root
    group: root
    mode: '0600'

- name: Set /etc/group permissions
  file:
    path: /etc/group
    owner: root
    group: root
    mode: '0644'

- name: Set /etc/group- permissions
  file:
    path: /etc/group-
    owner: root
    group: root
    mode: '0600'

- name: Set /etc/shadow permissions
  file:
    path: /etc/shadow
    owner: root
    group: shadow
    mode: '0000'

- name: Set /etc/shadow- permissions
  file:
    path: /etc/shadow-
    owner: root
    group: shadow
    mode: '0000'

- name: Set /etc/ssh/sshd_config permissions
  file:
    path: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0600'

