---
# Common task: Disable a filesystem module
# Usage: include_tasks: tasks/common/disable-filesystem.yml
# vars: filesystem_name: cramfs

- name: Disable {{ filesystem_name }} filesystem
  modprobe:
    name: "{{ filesystem_name }}"
    state: absent
    params: install /bin/true
  ignore_errors: yes
  register: "{{ filesystem_name }}_result"

- name: Blacklist {{ filesystem_name }}
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install {{ filesystem_name }} /bin/true"
    create: yes
    state: present

- name: Note if {{ filesystem_name }} is builtin
  debug:
    msg: "{{ filesystem_name }} is built into kernel (cannot be disabled via modprobe, blacklisted in modprobe.d)"
  when: 
    - filesystem_name + "_result" in vars
    - vars[filesystem_name + "_result"].failed
    - "'builtin' in (vars[filesystem_name + '_result'].msg | default(''))"

